<f:layout name="Default" />

<f:section name="Content">
    <f:be.pageRenderer
    includeCssFiles="{
        0: 'EXT:xima_typo3_calendar/Resources/Public/JavaScript/calendar.css',
        1: 'EXT:xima_typo3_calendar/Resources/Public/Css/calendar-base.css'
    }" />

    <div class="xima-calendar-module">
        <div class="xima-calendar-content">
            <div id="xima-calendar-mount"
                data-ajax-url="{ajaxUrl}"
                data-create-event-url="{createEventUrl}"
                data-cleanup-event-url="{cleanupEventUrl}"
                data-appointment-pid="{appointmentPid}"
                data-create-allowed="{canCreateAppointments}"
                data-enable-drag-new-event="{enableDragNewEvent}"
                data-enable-click-new-event="{enableClickNewEvent}"
                data-new-event-default-start-time="{newEventDefaultStartTime}"
                data-new-event-default-end-time="{newEventDefaultEndTime}"
                data-new-event-default-all-day="{newEventDefaultAllDay}">
            </div>

            <f:if condition="{showDetailEventView}">
                <section class="xima-calendar-event-detail" aria-label="Kalenderdetails" aria-live="polite">
                    <span class="xima-calendar-event-detail__title"></span>
                </section>
            </f:if>
        </div>
    </div>

</f:section>
